@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  // 142=green, 67=gold, 250=purple//
  --hue-color: 180;
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-light: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --text-color-dark: hsl(var(--hue-color), 70%, 14%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --container-color: white;

  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.95rem;
  --small-font-size: 0.85rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.815rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.section {
  padding: 2rem 2rem;
}

.section_title {
  font-size: var(--h1-font-size);
  text-align: center;
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 768px;
  margin: 0 1.75rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

//-------------------Dark Theme-------------------//

.nav_btns {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 1rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

body.dark-theme {
  --first-color: hsl(var(--hue-color), 50%, 35%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --body-color: hsl(var(--hue-color), 29%, 16%);
  --input-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 20%);

  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

//-------------------Buttons-------------------//

.btn {
  display: inline-block;
  background-color: var(--first-color);
  color: white;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  // font-size: var(--font-medium);
}

.btn:hover {
  background-color: var(--first-color-alt);
}

.btn_icon {
  font-size: 1.2rem;
  margin-left: 0.25rem;
  transition: 0.3s;
}

.btn-flex {
  display: inline-flex;
  align-items: center;
}

.btn-small {
  padding: 0.75rem 1rem;
}

.btn-link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.btn-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

.btn-white {
  background-color: #fff;
  color: var(--first-color);
}

.btn-white:hover {
  background-color: #fff;
}

//-------------------Navigation-------------------//

header {
  position: fixed;
  width: 100%;
  display: block;

  left: 0;
  bottom: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

nav {
  max-width: 968px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 765px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 0.2rem 4rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.35s;
  }
}

.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav_close:hover {
  color: var(--first-color-alt);
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--first-color);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

//-------------------Home Content-------------------//

.home_container {
  margin-left: 1rem;
  gap: 1rem;
}

.home_content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social_icon {
  color: var(--first-color);
  font-size: 1.25rem;
}

.home_social_icon:hover {
  color: var(--first-color-alt);
}

.home_blob {
  width: 200px;
  fill: var(--first-color);
}

.home_blob_image {
  width: 195px;

  // Use This To Position Your Picture on the Blob  //
  // transform: translateX(5px);
  // transform: translateY(-30px);
}

.home_data {
  grid-column: 1/3;
}

.hpme_title {
  font-size: var(--big-font-size);
}

.home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}

.home_description {
  margin-bottom: 2rem;
  line-height: 2rem;
}

.home_btn {
  margin-top: 2rem;
}

.home_scroll {
  // display: none;
  text-align: center;
}

.home_scroll-btn {
  color: var(--first-color);
  transition: 0.3s;
  margin-bottom: 1rem;
}

.home_scroll-btn:hover {
  transform: translateY(0.25rem);
}

.home_scroll-mouse {
  font-size: 2rem;
}

.home_scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: 0.25rem;
}

.home_scroll-arrow {
  font-size: 1.25rem;
}

.c-wrap {
  position: absolute;

  left: -10rem;
  top: 6rem;
}

.circle {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 15px solid var(--first-color);
  left: -30%;
  animation: movex 4s linear infinite;
}

//-------------------About-------------------//

.wrapper {
  position: absolute;
  left: 0;
}

@keyframes movex {
  0%,
  100% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.effect-2 {
  position: absolute;
  font-size: 4rem;
  left: 2rem;
  color: orange;
  animation: rotate 3s linear infinite;
}

.about_container {
  display: grid;
  place-content: center;
  align-items: center;
}
.about_img {
  width: 250px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about_info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.about_info_title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about_info_name {
  font-size: var(--smaller-font-size);
}

.about_info_title,
.about_info_name {
  display: block;
  text-align: center;
}

.about_btns {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

// -------------------skills-------------------//

.skills_container {
  row-gap: 0;
}

.skills_header {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.skills_content {
  margin-bottom: 2rem;
}

.skill_icon,
.skills_arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skill_icon {
  margin-right: 0.75rem;
}

.skills_title {
  font-size: var(--h3-font-size);
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills_arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills_bar {
  background-color: var(--first-color-light);
}

.skills_percentage {
  display: block;
  background-color: var(--first-color);
}

.skills_list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

//-------------------SKILL PERCENTAGES-------------------//

.skills_html {
  width: 10%;
}
.skills_css {
  width: 90%;
}
.skills_javascript {
  width: 90%;
}
.skills_python {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}
.skills_html {
  width: 90%;
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
}

.skills_open .skills_list {
  height: max-content;
}

.skills_open .skills_arrow {
  transform: rotate(180deg);
}

//-------------------Qualifications-------------------//

.qualification_container {
  margin: 0;
}

.qualification_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification_btn {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification_btn:hover {
  color: var(--first-color);
}

.qualification_icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}

.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  // text-align: center;
}

.qualification_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
}

.qualification_calender {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification_active[data-content] {
  display: block;
}

.qualification_btn.qualification_active {
  color: var(--first-color);
}

//-------------------services-------------------//

.services_container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services_content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.services_content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}

.services_icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services_title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  font-weight: var(--font-medium);
}

.services_btn {
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services_btn:hover {
  transform: translateX(0.5rem);
}

.services_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.services_modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.services_modal-services {
  row-gap: 1rem;
}

.services_modal-service {
  display: flex;
}

.services_modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 1.5rem;
}

.services_modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services_modal-icon {
  color: var(--first-color);
  margin-right: 0.25rem;
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

//-------------------portfolio-------------------//

.portfolio_container {
  overflow: initial;
}

.portfolio_content {
  padding: 0 1.5rem;
}

.portfolio_img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio_title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.portfolio_description {
  margin-bottom: 0.75rem;
}

.portfolio_btn:hover .btn_icon {
  transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -0.8rem;
}

.swiper-button-next {
  right: -0.8rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullets-active {
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}

//-------------------project in mind-------------------//

.project_bg {
  background-color: var(--first-color-second);
  padding-top: 3rem;
}

.project_title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
}

.project_description {
  margin-bottom: 1.5rem;
}

.project_title,
.portfolio_description {
  color: #fff;
}

.project_img {
  width: 232px;
  margin: 0 auto;
}

//-------------------Contact ME-------------------//

.contact_container {
  row-gap: 3rem;
}

.contact_information {
  display: flex;
  margin-bottom: 2rem;
}

.contact-icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: 0.75rem;
}

.contact_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact_content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact_label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact_input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

//-------------------Footer-------------------//

.footer_container {
  row-gap: 3.5rem;
}

.footer_bg {
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
}
.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: 0.25rem;
}

.footer_subtitle {
  font-size: var(--small-font-size);
}

.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer_link {
  color: var(--text-color-dark);
}

.footer_link:hover {
  color: var(--first-color-light);
}

.footer_social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer_social:hover {
  color: var(--first-color-light);
}

.footer_copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: 3rem;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
  color: #fff;
}

//-------------------Scroll Up-------------------//

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.5s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  transform: translateY(-0.5rem);
}

.scrollup_icon {
  font-size: 1.5rem;
  color: #fff;
}

.show-scroll {
  bottom: 5.35rem;
}

//-------------------Scroll Bar-------------------//

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

//-------------------Media Queries-------------------//

// Small Device
@media screen and (max-width: 350px) {
  .c-wrap {
    display: none;
  }
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav_list {
    column-gap: 0;
  }

  .home,
  .about,
  .skills,
  .qualification,
  .services,
  .portfolio,
  .project,
  .contact,
  .footer {
    padding: 0;
    margin: 0;
  }

  .home_content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home_blob {
    width: 180px;
  }

  .skills_title {
    font-size: var(--normal-font-size);
  }
  .qualification_data {
    gap: 0.5rem;
  }

  .portfolio_container {
    margin-bottom: 2.5rem;
  }

  .services_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .services_modal-services {
    padding: 0.7rem 0;
  }

  .project_img {
    width: 180px;
  }

  .send-btn {
    margin-bottom: 2rem;
  }

  .swiper-portfolio-icon {
    font-size: 1rem;
  }

  .effect-2 {
    display: none;
  }
}

// Medium Device

@media screen and (min-width: 568px) {
  .c-wrap {
    position: absolute;

    left: -10rem;
    top: 6rem;
  }

  .circle {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 15px solid var(--first-color);
    left: -30%;
    animation: movex 4s linear infinite;
  }

  .home_content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home_data {
    grid-column: initial;
  }

  .home_img {
    order: 1;
    justify-self: center;
  }

  .about_container,
  .skill_container,
  .portfolio_content,
  .project_container,
  .contact_container,
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification_section {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section_subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer_container {
    padding: 0 1rem;
  }

  .nav {
    height: 5rem;
    column-gap: 1rem;
  }

  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: none;
  }

  .nav_list {
    display: flex;
    column-gap: 2rem;
  }

  .nav_menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }

  .home_container {
    row-gap: 5rem;
  }
  .home_content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home_blob {
    width: 350px;
  }

  .home_scroll {
    display: block;
  }

  .home_scroll-btn {
    margin-left: 3rem;
  }

  .about_contianer {
    column-gap: 5rem;
  }

  .about_img {
    position: relative;
    width: 350px;
  }

  .about_description {
    text-align: initial;
  }

  .about_info {
    justify-content: space-between;
  }

  .about_btns {
    justify-content: initial;
  }

  .qualification_tabs {
    justify-content: center;
  }

  .qualification_btn {
    margin: 0 1rem;
  }

  .qualification_section {
    grid-template-columns: 0.5fr;
  }

  .services_container {
    display: grid;
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }

  .services_icon {
    font-size: 2rem;
  }

  .services_content {
    padding: 6rem 0 2rem 2.5rem;
  }

  .services_modal-content {
    width: 450px;
  }

  .services_modal-services {
    padding: 1rem;
  }

  .portfolio_img {
    width: 320px;
  }

  .portfolio_content {
    align-content: center;
  }

  .project {
    text-align: center;
  }

  .project_bg {
    background: none;
  }

  .project_container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }

  .project_data {
    padding-top: 0.8rem;
  }

  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_bg {
    padding: 3rem 0 3.5rem;
  }

  .footer_links {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    text-align: center;
  }

  .footer_socials {
    // display: flex;
    justify-self: flex-end;
  }

  .uil-sun {
    animation: rotate 3s linear infinite;
  }
}

// Large Device

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer_container {
    padding: 0;
  }

  .home_blob {
    width: 350px;
  }

  .home_social {
    transform: translateX(-6rem);
  }

  .services_container {
    display: grid;
    grid-template-columns: repeat(3, 238px);
  }

  .portfolio_content {
    column-gap: 5rem;
  }

  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }

  .contact_form {
    width: 450px;
  }

  .contact_inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
